<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- open graph -->
    <meta property="og:type" content="web" /> 
    <meta property="og:image" content="/images/visual_img.jpg" /> 
    <meta property="og:title" content="<%- ogTitle %>" />
    <meta property="og:site_name" content="<%- ogSiteName %>" /> 
    <meta property="og:description" content="<%- ogDescription %>" /> 
    <meta property="og:url" content="<%- ogUrl %>" />
    <title><%- title %></title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
