/************************* layout */
.inner {padding: 0 3%; margin: 0 auto;}

/************************* template */
/*** root ***/
:root {
    --color-b-0: #404040;
}

:root {
    --color-w-0: #fff;
}

/*** title, text ***/
.text-body-0 {font-size: 18px; line-height: 2; word-break: keep-all;}
.text-body-1 {font-size: 24px; line-height: 2; word-break: keep-all;}

/*** text-align ***/
.text-center {text-align: center;}

/************************* visual */
#visual {width: 100%; height: 100vh; background: url(/images/visual_img.jpg) no-repeat center / cover;
position: relative; display: flex; flex-direction: column; align-items: center; justify-content: flex-end;
padding-bottom: 18.4375vw;}

#visual::before {position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 100%;
background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));}

#visual p,
#visual span {color: var(--color-w-0);}

.visual__detail {position: relative; z-index: 1;}
.visual__client {display: flex; align-items: center; gap: 40px; margin-bottom: 17px;}
.visual__name {font-size: 34px;}
.visual__and {font-size: 22px;}

#visual .text-body-1 {text-align: center;}

/*** 필기체 ***/
.letterings {position: absolute; top: 0; left: 50%; transform: translateX(-50%); z-index: 1; width: 100%;}
.letterings svg text {font-size: 6em;}

/*********************** contents */
/*** common ***/
section {padding: 26.8750vw 0;}
