/*************************** font */
/*** Sumunjang_BodyM ***/
@font-face {
    font-family: 'Sumunjang_BodyM';
    src: url('/fonts/Sumunjang_BodyM.woff2') format('woff2'),
        url('/fonts/Sumunjang_BodyM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('/fonts/Sumunjang_BodyMA.woff2') format('woff2'),
        url('/fonts/Sumunjang_BodyMA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*** Baskervville SC ***/
@font-face {
    font-family: 'Baskervville SC';
    src: url('/fonts/BaskervvilleSC-SemiBold.woff2') format('woff2'),
        url('/fonts/BaskervvilleSC-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baskervville SC';
    src: url('/fonts/BaskervvilleSC-Medium.woff2') format('woff2'),
        url('/fonts/BaskervvilleSC-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baskervville SC';
    src: url('/fonts/BaskervvilleSC-Bold.woff2') format('woff2'),
        url('/fonts/askervvilleSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baskervville SC';
    src: url('/fonts/BaskervvilleSC-Regular.woff2') format('woff2'),
        url('/fonts/BaskervvilleSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/********************** reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sumunjang_BodyM';
}

html {
    background-color: #f5f5f5;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

body {
    font-family: 'Sumunjang_BodyM';
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
